.input {
    font-size: 20px;
    width: 20%;
    padding: 10px;
    margin:15px;
    box-sizing: border-box;
    background-color:rgb(216, 216, 234);
}
.container{
    text-align: center;
}
.row{
margin: 10px 0;
}
.button{
    padding: 20px;
    width:60px;
    margin:0 3px;
    border: 2px solid black;
    border-radius: 8px;
    color:whitesmoke;
    background-color:gray;
    font-size: 15px;
    cursor:pointer;
}

